.Main {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 780px) {
    .Main { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1170px) {
    .Main { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1570px) {
    .Main { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1970px) {
    .Main { grid-template-columns: repeat(5, 1fr); }
}
